@charset "utf-8";

body{
    background-color: rgb(237, 248, 88); font-family: Arial, Helvetica, sans-serif;
}
h1{ color: rgb(1, 1, 37);}
h2{ color: rgb(247, 243, 243); background-color: rgb(7, 14, 1);}
p{ text-align: justify;}